
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/9812/9812330.png">
<link rel="stylesheet" href="/style.css" />
<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Monofett&display=swap" rel="stylesheet">
<meta charset="utf-8">
<title>docket.</title>
