<!DOCTYPE html>
<html>
    
<head>
    <%- include("./partials/head.ejs") %>
</head>
<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_OP3TACqpO6.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>

<body>
    <header>
        <a href="/notes" id="style-2" data-replace="this link"><span><h1 id="main">docket.</h1></span></a>
    </header>
</body>

</html>