<!DOCTYPE html>
<html>
    
<head>
    <%- include("./partials/head.ejs") %>
</head>


<body style="background-color: rgb(252,209,175);">

    <table>
        <tr>
            <td><a href="/notes"><img class="main-btn" src="https://cdn-icons-png.flaticon.com/512/9812/9812330.png" style="width: 150px; height: 150px;"></a></td>
        </tr>
        <tr>
            <td><h1>tasks simplified.</h1></td>
        </tr>
        <tr>
            <td><lottie-player src="https://assets8.lottiefiles.com/packages/lf20_mDnmhAgZkb.json" style="width: 400px; height: 400px" background="transparent"  speed="1" loop autoplay></lottie-player></td>
        </tr>
    </table>
   
</body>

</html>