<!DOCTYPE html>
<html>
    
<head>
    <%- include("./partials/head.ejs") %>
</head>
<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_OP3TACqpO6.json" background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>

<body>
    <header>
        <a href="/notes"><h1>Welcome to DOCKET</h1> </a>
    </header>
</body>

</html>