* {
  box-sizing: border-box;
}
h1 {
  font-family: 'Patrick Hand', cursive;
    letter-spacing: 6px;
    font-size: 60px;
    text-align: center;
    color:#333;
    padding-bottom: 10px;
}
body {
    display: grid;
    justify-content: center;
    margin: 5px;
    padding: 10px;
}
.tdl-container {
    background-color: rgb(196,194,185);
    margin: 0 auto; 
    border: solid 1px black;
    border-radius: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    width: auto;
}
.tdl {
    display: inline-block;
}
.del, .edit {
    width: 22px;
    height: 22px;
    transition: width 0.5s, height, 0.5s transform 0.1s;
}
.del:hover, .edit:hover {
    transform: rotate(20deg);
}
label {
    font-size: 20px;
}
.add-btn, button {
    position:absolute;
}
.add-btn:hover, .edit-btn:hover {
    background-color: rgb(95,85,94)
}
.add-btn:active, .edit-btn:active {
    background-color: rgb(95,85,94);
    box-shadow: 0 1px rgb(95,85,94);
    transform: translateY(2px);
}


.main-btn:active {
    background-color: rgb(252,209,175);
    box-shadow: 0 1px rgb(252,209,175);
    transform: translateY(2px);  
}

.main-btn {
    margin-top: 200px;
    margin-left: 30%;
}

.tdl-create > form {
    justify-content: center;
    margin: 0 auto;
    height: 50px;
    padding-left: 40px;
    padding-right: 30px;
}
button, input[type="checkbox" i]{
    cursor: pointer;
}

input[type="checkbox" i] {
    accent-color: grey;
}

input[class="text-create"] {
    padding: 10px;
    width: 240px;
    border-radius: 10px;
    background-color: rgb(196,194,185);
    color:#333;
  }
  input[class="text-create"]:focus {
    background-color: rgb(188,186,177) ;
  }
  

input[type="submit" i] {
    width: 50px;
    height: auto;
  }

.radio_item_menu:checked~.item{
    font-weight: 10;
    text-decoration: line-through;
  }

ul {
    font-family: 'Patrick Hand', sans-serif;
    color: rgb(53,56,57);
    font-size: 8px;
    padding-top: 20px;
    padding-bottom: 5px;
  }
.checkbox {
    padding-bottom: 4px;
    border-radius: 50%;
  }

.del, .edit {
    float:right;
  }
.del {
    padding-left: 8px;
  }

/*  <----------- Modal Window -----------> */ 
#text-edit {
    padding: 10px;
    width: 240px;
    border-radius: 10px;
  }

.content {
    text-align: center;
  }

.save {
    position:absolute;
  }


 /*  <----------- Modal -----------> */ 
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
.overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 3s ease-in-out;
  }
  
.popup h2 {
    margin-top: 0;
    margin-left: 20px;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
.popup .close {
    position: absolute;
    top: 2px;
    right: 25px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
.popup .close:hover {
    color: #be180c;
  }
.popup .content {
    max-height: 30%;
    overflow: auto;
    margin-right: 30px;
  }
/* CREATED AT */
.hidden-timestamp {
    display: none;
    font-size: 10px;
  }
.checkbox:hover + .hidden-timestamp {
    display: inline;
  }


  /* Text effect hover for item  */

.item {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

  }
  
.item {
    background: linear-gradient(
        to right,
        rgb(53,56,57),
        rgb(53,56,57)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 1px, 0 1px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 500ms;
  }
  
.item:hover {
    background-size: 0 1px, 100% 1px;
  }

