<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your TDL</title>
</head>
<body>
    <main>
		<form action="/notes/<%= note._id %>?_method=PUT" method="POST">
			<input type="text" name="item" value="<%= note.item%>" /><br />
			<input type="submit" value="Save" />
		</form>
	</main>
</body>
</html>