<!DOCTYPE html>
<html> 

<head>
    <%- include("../partials/head.ejs") %>
</head>


<body>
   <h1>docket.</h1>
<div class="tdl-container">
    <ul>
    <% notes.forEach(note => { %>

            <div class="tdl checkbox">
            <input type="checkbox" class="radio_item_menu"> <label for="item" class="item"><%=note.item%></label>
            </div>

            <div class="tdl del"> 
                <form action="/notes/<%=note._id %>?_method=DELETE" method="POST">
                   <button type="submit" style="border: 0; background: transparent">
                     <img src="https://cdn-icons-png.flaticon.com/512/648/648415.png" width="20" height="20" alt="submit" />
                    </button>
                </form>
            </div>    

            <div class="tdl edit"> 
                   <button type="submit" style="border: 0; background: transparent">
                     <img src="https://cdn-icons-png.flaticon.com/512/2280/2280532.png" width="20" height="20" alt="submit" />
                </button>
                </form>
            </div>    


            <br />
            <hr>
    <%  }) %>

</ul>
            <div class="tdl-create">
                <form action="/notes" method="POST">
                    <input class="text-create" type="text" name="item" placeholder="Write new item and hit 'Enter'">
                    <button class="add-btn" type="submit" style="border: 0; background: transparent">
                    <img src="https://cdn-icons-png.flaticon.com/512/6040/6040279.png" width="38" height="38" alt="submit" />
                   </button>
                </form>
            </div>
</div>
            

</body>

</html>
